# See https://help.github.com/ignore-files/ for more about ignoring files.

# css
src/**/*.css

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
/node_modules

/.cache-loader

# testing
/coverage

# production
/build

/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
