.content-scrollable {
  height: 100vh;
  overflow: auto;
}

.oh-centered-text {
  text-align: center;
}

.oh-small {
  color: $oh-color-text-light;
  font-size: 12px;
}

.oh-tiny {
  color: $oh-color-text-metadata;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.oh-hero {
  color: $color-pf-white;;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.oh-code {
  font-family: $oh-code-font-family;
}

.oh-indent {
  padding-left: 40px;
}

.oh-code {
  font-family: $oh-code-font-family;
}

.oh-not-visible {
  visibility: hidden;
}

.oh-nowrap {
  white-space: nowrap;
}

.oh-external-link {
  display: inline-block;

  &.block {
    display: block;
  }

  &.indicator {
    padding-right: 15px;
    &::after {
      content: "\f08e";
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 75%;
      height: 16px;
      position: relative;
      margin-left: 3px;
      margin-right: -15px;
      top: 0;
      width: 12px;
    }
  }
}

.oh-numbered-list {
  counter-reset: list;
  li {
    counter-increment: list;
    list-style: none;
    position: relative;
    padding-bottom: 10px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  li:before {
    position: absolute;
    left: -20px;
    content: counter(list) " )";
  }
  p {
    margin-left: -40px;
  }
}

.oh-button {
  border: none;
  border-radius: 4px;
  padding: 6px 15px 7px 15px;

  &.oh-button-primary {
    background-color: $oh-color-primary;
    color: $pf-color-white;
  }

  &.oh-button-secondary {
    background-color: $oh-color-secondary;
    color: $oh-color-text-body;
  }
}

.oh-disabled,
.oh-button:disabled,
.oh-button[disabled] {
  cursor: default;
  text-decoration: none;
  opacity: .5;
}

.modal-footer {
  padding: 15px 20px;

  .oh-button {
    margin-left: 15px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.oh-markdown-view {
  padding-bottom: 15px;

  > pre {
    background: $oh-color-background;
    display: block;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    white-space: pre-wrap;
    word-break: break-all;
  }

  tr > th {
    text-align: left;
  }

  td, th {
    padding: 5px 15px;
    word-break: break-word;
    border-bottom: 1px solid $color-pf-black-200;
    vertical-align: top;
  }
}

.expand-collapse-pf-link-container > .btn-link {
  margin-left: -6px;
}

noscript {
  margin: 20px 40px;
  h1 {
    text-align: center;
  }
  p {
    padding: 0 30px;
  }
}

.space-between {
    display: flex;
    justify-content: space-between;
}
