.oh-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__top-bar {
    border-top: 1px solid $oh-color-rule;
    margin-top: 60px;
    padding: 18px 0;
    background-color: $color-pf-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    > h3 {
      margin: 0;
      padding-right: 30px;
    }
  }

  &__contents {
    background-color: #333f52;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 60px 30px;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: space-between;
      }

      @media (min-width: $oh-width-3-tile-min) {
        width: $oh-content-width-3-tiles;
      }
      @media (min-width: $oh-width-4-tile-min) {
        width: $oh-content-width-4-tiles;
      }
      @media (min-width: $oh-width-5-tile-min) {
        width: $oh-content-width-5-tiles;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $screen-sm-min) {
        align-items: flex-start;
      };

      &__logo {
        height: 60px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
      }
      &__text {
        color: $color-pf-white;
        margin-bottom: 30px;
        max-width: 380px;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;

      @media (min-width: $screen-sm-min) {
        align-items: flex-start;
        margin-top: 0;
      }

      &__logo {
        height: 26px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
      }

      &__links {
        display: flex;
        flex-direction: row;

        &__list {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding-right: 80px;
          &:last-of-type {
            padding-right: 0;
          }

          &__header {
            color: $color-pf-white;
          }

          > a {
            white-space: nowrap;
            margin-bottom: 5px;
          }

          &__social {
            > a {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  &__button {
    border: 2px solid $color-pf-white;
    border-radius: 4px;
    color: $color-pf-white;
    padding: 5px 20px 8px;
    &:hover, &:focus {
      border-color: $color-pf-black-100;
      color: $color-pf-black-100;
      border: 2px solid $color-pf-white;

    }
  }
}