::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.oh-page-fixed-header .oh-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .oh-hub-header__top-bar__content .dropdown-menu {
    position: fixed;
    right: 45px;
    top: 42px;

    @media (min-width: $screen-sm-min) {
      top: 55px;
    }

    @media (min-width: $oh-width-3-tile-min) {
      right: calc(((100% - #{$oh-content-width-3-tiles}) / 2) + 23px);
    }
    @media (min-width: $oh-width-4-tile-min) {
      right: calc(100% - #{$oh-content-width-4-tiles});
      right: calc(((100% - #{$oh-content-width-4-tiles}) / 2) + 23px);
    }
    @media (min-width: $oh-width-5-tile-min) {
      right: calc(100% - #{$oh-content-width-5-tiles});
      right: calc(((100% - #{$oh-content-width-5-tiles}) / 2) + 23px);
    }
  }
}

.oh-header {
  background-image: url("../imgs/header-bg.png");
  background-image: url("../imgs/header-bg.png"), linear-gradient(to right, #134F77, #2C95B5);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y : top;
  color: $color-pf-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 0 15px;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: relative;
    width: 100%;
    @media (min-width: $oh-width-3-tile-min) {
      width: $oh-content-width-3-tiles;
    }
    @media (min-width: $oh-width-4-tile-min) {
      width: $oh-content-width-4-tiles;
    }
    @media (min-width: $oh-width-5-tile-min) {
      width: $oh-content-width-5-tiles;
    }
  }

  .oh-hub-header__top-bar {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
    }

    &__xs-search {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $screen-sm-min) {
        display: none;
      }

      .oh-hub-header__top-bar__search-form {
        padding-top: 10px;
        width: 100%;
      }
    }

    &__logo {
      font-family: $oh-code-font-family;
      height: 14px;
      margin-top: 7px;
    }

    &__spacer {
      flex: 1;
    }

    &__search-form {
      width: 300px;
    }

    &__search-icon {
      color: $color-pf-white;
      font-size: 12px;
      left: 5px;
      top: 7px;
      position: absolute;
    }

    &__clear-icon {
      color: $color-pf-white;
      right: 5px;
      top: 6px;
      position: absolute;
      &.disabled {
        display: none;
      }
    }

    &__search--input {
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      border-radius: 4px;
      color: $color-pf-white;
      padding-left: 30px;
      padding-bottom: 3px;
      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }

    &__dropdown {
      background: transparent;
      border: none;
      box-shadow: none;
      color: $color-pf-white;
      font-size: inherit;
      font-weight: inherit;
      margin-left: 30px !important;
    }

    .dropdown-menu {
      font-size: inherit;
      font-weight: inherit;

      @media (min-width: $screen-sm-min) {
        margin-top: -14px;
      }
    }
  }
  .oh-header__content {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.oh-page-fixed-header .oh-header__inner {
  flex-direction: column-reverse;
}

.oh-hub-header {
  .oh-header__content {
    width: 100%;
    h1 {
      text-align: center;
      .title {
        font-family: $oh-code-font-family;
        padding-left: 8px;
        width: fit-content;
      }

    }
    .oh-hub-header__content__sub-title {
        color: $color-pf-white;
        text-align: center;
        word-break: break-word;
        max-width: 575px;
    }
  }
}

.oh-operator-header {
  .oh-header__content {
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
  }

  &__content {
    &__image-container {
      background: $color-pf-white;
      border-radius: 50px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      max-height: 60px;
      max-width: 60px;
    }

    &__info {
      flex: 1;
      margin-left: 20px;
      overflow: hidden;
    }

    h1 {
      margin-top: 10px;
      font-size: 32px;
      .title {
        font-family: $oh-code-font-family;
        padding-left: 8px;
      }
    }
  }
}
