.oh-hub-header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  width: 100%;

  h1 {
    text-align: center;
    .title {
      font-family: $oh-code-font-family;
      padding-left: 8px;
      width: fit-content;
    }

  }
  .oh-header-content__sub-title {
    color: $color-pf-white;
    text-align: center;
    word-break: break-word;
    max-width: 575px;
  }
}

.oh-hub-page__mobile-filters {
  @media (min-width: $screen-xs-min) {
    display: none;
  }

  &__toolbar {
    display: block;
    padding-bottom: 15px;
    vertical-align: middle;
  }

  .oh-filter-toggle {
    background: none;
    border: none;
    padding: 0 2px 0 0;
  }

  .oh-filter-close {
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
    width: 17px;
  }

  .oh-filter-bars {
    display: inline-block;
    margin-right: 5px;

    .icon-bar {
      background-color: $oh-color-text-body;
      display: block;
      width: 17px;
      height: 2px;
      border-radius: 1px;
      margin-top:2px;
    }
  }
  &__filters {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    &__inner {
      padding-bottom: 20px;
    }
  }
}

.oh-hub-page {
  background: transparent;
  display: flex;
  padding: ($grid-gutter-width / 2) 0 0;

  &__content {
    padding: 0 15px;
    flex: 1;
    @media (min-width: $screen-xs-min) {
      padding: 0;
    }
    .catalog-tile-view-pf-no-categories {
      flex-direction: column;
      align-items: center;
      @media (min-width: $screen-xs-min) {
        flex-direction: row;
      }
    }
  }

  &__heading {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
  }

  &__toolbar {
    border-bottom: 1px solid $oh-color-rule;
    display: flex;
    flex-direction: row;
    margin-bottom: ($grid-gutter-width / 2);
    padding: 0 0 20px;
    &__item {
      font-weight: 400;
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
      &-left {
        flex: 1;
      }
    }

    .oh-hub-page__toolbar__label {
      padding-left: 5px;
    }

    .oh-hub-page__toolbar__dropdown {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: inherit;
      font-weight: inherit;
      text-transform: capitalize;
      margin-top: -3px;
      .fa {
        margin-right: 3px;
      }
    }

    .dropdown-menu {
      font-size: inherit;
      font-weight: inherit;
      text-transform: capitalize;
      .fa {
        margin-right: 3px;
      }
    }
  }

  &__filters {
    width: $oh-filters-width;
    margin: 0 ($grid-gutter-width / 2) 0 0;
    display: none;
    @media (min-width: $screen-xs-min) {
      display: block;
    }

    .filter-panel-pf {
      padding-left: 0;
    }

    .filter-panel-pf-category-title {
      margin-bottom: 10px;
      color: $oh-color-text-metadata;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  &__no-filter-results {
    background-color: transparent;
    border: none;
    padding: 0;

    &-title {
      color: $color-pf-black-700;
      font-size: 18px;
    }
  }

  .catalog-tile-pf {
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    &:hover, &:focus {
      box-shadow: 0 6px 12px rgba(0,0,0,0.12)
    }
  }
}


.oh-no-filter-results-title {
  color: $color-pf-black-800;
  font-size: 18px;
}

.oh-list-view {
  width: 100%;

  .catalog-tile-pf-icon {
    margin-right: 10px;
  }

  .catalog-tile-pf-subtitle {
    color: $color-pf-black-400;
    font-size: 12px;
  }

  .catalog-tile-pf-description {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;
    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
      bottom: 0;
      color: transparent;
      content: ".";
      position: absolute;
      right: 0;
      width: 25%;
      text-align: right;
    }
  }

  &__item {
    background: $card-pf-bg-color;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: inherit;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: $oh-list-item-height;
    margin: 0 15px $catalog-tile-pf-margin-bottom 0;
    padding: 15px;

    &:active,
    &:hover,
    &:focus,
    &:visited {
      color: inherit;
      text-decoration: none;
    }

    &:hover, &:focus {
      box-shadow: 0 6px 12px rgba(0,0,0,0.12)
    }
  }
}
