.oh-content-operator {
  overflow-x: hidden;
}

.oh-page.oh-page-operator {
  background-color: $color-pf-white;
  &.oh-page-fixed-header {
    .oh-operator-page__toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }
}


.oh-operator-page {
  display: flex;
  flex-direction: row;
  padding: 30px 15px 0;

  &__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $oh-color-rule;
    background-color: $page-bg-color;
    padding: 10px 35px 10px 15px;
    width: 100%;

    &__inner {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media (min-width: $oh-width-3-tile-min) {
        width: $oh-content-width-3-tiles;
      }
      @media (min-width: $oh-width-4-tile-min) {
        width: $oh-content-width-4-tiles;
      }
      @media (min-width: $oh-width-5-tile-min) {
        width: $oh-content-width-5-tiles;
      }
    }
    .breadcrumb {
      margin: 0 25px;
      flex: 1;
    }
  }

  &__content {
    flex: 1;
  }

  &__side-panel {
    &__button {
      background-color: $oh-color-primary;
      border-radius: 4px;
      color: $color-pf-white;
      display: block;
      height: 30px;
      padding-top: 3px;
      text-align: center;
      &:hover, &:focus {
        color: $color-pf-white;
      }
    }

    &__separator {
      margin: 30px 0;
      border-top: 1px solid $oh-color-rule;
    }

    .properties-side-panel-pf {
      background-color: $page-bg-color;
      display: block;
      padding: 30px 30px 30px 10px;
      width: 100%;

      .properties-side-panel-pf {
        width: 100%;
      }

      .properties-side-panel-pf-property-label  {
        color: $oh-color-text-metadata;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .oh-external-link {
        display: block;
      }
    }

    .dropdown-menu {
      font-size: inherit;
      font-weight: inherit;
    }

    &__version-dropdown {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
