.oh-page.oh-page-operator {
  background-color: $color-pf-white;
}

.oh-operator-header {
  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    overflow: hidden;
  }

  &__image-container {
    background: $color-pf-white;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-height: 60px;
    max-width: 60px;
  }

  &__info {
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
  }

  h1 {
    margin-top: 10px;
    font-size: 32px;
    .title {
      font-family: $oh-code-font-family;
      padding-left: 8px;
    }
  }
}

.oh-operator-page {
  margin-top: 30px;

  &__side-panel {
    @media (min-width: $screen-sm-min) {
      margin-top: 20px;
    }

    &__button {
      background-color: $oh-color-primary;
      border-radius: 4px;
      color: $color-pf-white;
      display: block;
      height: 30px;
      padding-top: 3px;
      text-align: center;
      &:hover, &:focus {
        color: $color-pf-white;
      }
    }

    &__image {
      padding-top: 5px;
    }

    &__separator {
      margin: 30px 0;
      border-top: 1px solid $oh-color-rule;
    }

    .properties-side-panel-pf {
      background-color: $page-bg-color;
      display: block;
      padding: 30px 30px 30px 10px;
      width: 100%;

      .properties-side-panel-pf {
        width: 100%;
      }

      .properties-side-panel-pf-property-label  {
        color: $oh-color-text-metadata;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    .dropdown-menu {
      font-size: inherit;
      font-weight: inherit;
    }

    &__version-dropdown {
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.oh-capability-level-popover {
  max-width: 730px;
  height: 330px;
  width: 730px;
  &__img {
    max-width: 700px;
    margin: 5px 0;
  }
  &__icon {
    display: none;
    cursor: pointer;
    @media (min-width: 915px) {
      display: inline-block;
      margin-left: 3px;
    }
  }
  &__link {
    display: none;
    @media (max-width: 914px) {
      display: inline-block;
    }
  }
}

.oh-crd-tile-view {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 0 0;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }

  .oh-crd-tile {
    align-items: flex-start;
    background: $oh-color-background;
    border-radius: 3px;
    color: inherit;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 165px;
    margin: 0 15px 15px 0;
    padding: 20px;
    width: 265px;

    &__title {
      color: $oh-color-text-primary;
      font-size: 14px;
      font-weight: 600;
    }

    &__rule {
      border-bottom: 2px solid $oh-color-accent;
      margin-bottom: 15px;
      margin-top: 10px;
      width: 60px;
    }

    &__description {
      height: 60px;
      min-height: 60px;
      font-size: 12px;
      color: $oh-color-text-body;
      overflow: hidden;
      position: relative;

      &::after {
        background: linear-gradient(to right, rgba(250, 251, 253, 0), rgba(250, 251, 253, 1) 75%);
        bottom: 0;
        color: transparent;
        content: ".";
        position: absolute;
        right: 0;
        width: 50%;
        text-align: right;
      }
    }

    &__link {
      font-size: 13px;
    }
  }
}

.oh-install-modal {
  .modal-body {
    padding-top: 0;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      padding-top: 0;
      margin: 30px 0;
      border: 0;
    }
  }

  .oh-code {
    margin: 20px 10px 30px 0;
    padding: 10px;
    background-color: $oh-color-background;
    border-radius: 3px;
  }
}

.oh-install-expander {
  padding-bottom: 30px;
}

.oh-install-olm-instructions {
  margin-top: 15px;
  border-bottom: 1px solid $oh-color-rule;
}

.oh-yaml-viewer {
  height: 450px;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &__acebox {
    flex: 1;
    &.ace-clouds
    {
      background: $oh-color-background;
    }
  }

  &__copy-container {
    align-self: flex-start;
    margin-left: 7px;
  }

  &__copy {
    color: $oh-color-text-body;
    padding: 3px 5px;
  }
}
