body {
  background-color: $page-bg-color;
  color: #363636;
  font-family: "Lato", var(--pf-global--FontFamily--sans-serif);
  font-size: $font-size-base;
  line-height: 1.66667;
  margin: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1, .h1 {
  font-size: 26px;
  color: $oh-color-text-primary;
  letter-spacing: 1.44px;
  font-weight: 400;
  margin-bottom: 20px;
}
h2, .h2 {
  font-size: 22px;
  color: $oh-color-text-primary;
  letter-spacing: 1.22px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 60px;
  border-top: 1px solid $oh-color-rule;
}
h3, .h3 {
  font-size: 18px;
  color: $oh-color-text-primary;
  letter-spacing: 1px;
}
h4, .h4 {
  font-size: 16px;
  color: $oh-color-text-primary;
  letter-spacing: 0.89px;
}
h5, .h5 {
  font-size: 15px;
  color: $oh-color-text-primary;
  letter-spacing: 0.83px;
}
p {
  font-size: 14px;
  color: $oh-color-text-body;
}

.dropdown-menu {
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

.open > .btn-default.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #e0e1e2;
  border-radius: 4px;
}

.popover {
  -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, .2);
  box-shadow: -3px 0px 15px rgba(0, 0, 0, .2);
  border-radius: 4px;
  border: 1px solid #efefef;

  &.left > .arrow {
    border-left-color: #efefef;
  }
}

.modal-header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid $oh-color-rule;
}

.modal-body {
  padding: 20px;
}

.catalog-tile-pf {
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  &:hover, &:focus {
    box-shadow: 0 6px 12px rgba(0,0,0,0.12)
  }
}

.fa.fa-check-circle {
  color: $brand-success;
}

.fa.fa-warning {
  color: $brand-warning;
}

.fa.fa-times-circle {
  color: $brand-danger;
}

.mde-preview .mde-preview-content table {
  > pre {
    background: $oh-color-background;
    display: block;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    white-space: pre-wrap;
    word-break: break-all;
  }

  tr > th {
    text-align: left;
  }

  th, td {
    padding: 5px 15px;
    word-break: break-word;
    border: none;
    border-bottom: 1px solid $color-pf-black-200;
    vertical-align: top;
  }
}
