body {
  background-color: $page-bg-color;
  color: #363636;
  font-family: "Lato", var(--pf-global--FontFamily--sans-serif);
  font-size: $font-size-base;
  line-height: 1.66667;
  margin: 0;
}

::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1, .h1 {
  font-size: 26px;
  color: $oh-color-text-primary;
  letter-spacing: 1.44px;
}
h2, .h2 {
  font-size: 22px;
  color: $oh-color-text-primary;
  letter-spacing: 1.22px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 60px;
  border-top: 1px solid $oh-color-rule;
}
h3, .h3 {
  font-size: 18px;
  color: $oh-color-text-primary;
  letter-spacing: 1px;
}
h4, .h4 {
  font-size: 16px;
  color: $oh-color-text-primary;
  letter-spacing: 0.89px;
}
h5, .h5 {
  font-size: 15px;
  color: $oh-color-text-primary;
  letter-spacing: 0.83px;
}
p {
  font-size: 14px;
  color: $oh-color-text-body;
}
