#oh-operator-package-editor-page {
    .oh-operator-package-editor-page {
      &__button-bar {
        display: block;
  
        .oh-button-secondary {
          margin-left: 10px;
        }
      }
  
      &__tab-pane {
        margin: 20px 0 30px;
      }
    }
  
    #oh-operator-package-editor-tabs {
      border-top: 1px solid #eaeaea;
      margin-top: 40px;
  
      > li > a {
        padding: 20px;
  
        &:before {
          width: 100%;
        }
      }
    }

    .oh-operator-package-editor-page__tab-pane{

      .oh-folder-upload-disabled{
        cursor: no-drop;
        opacity: 0.5;
      }
    }

  
    .oh-operator-editor-page {
      &__title-area {
        padding-bottom: 0;
      }
  
      &__page-area {
        padding-top: 10px;
      }
    }
    
  .oh-drag-drop-box{
    margin-top: 10px;
    outline-offset: -5px;
    outline-width: 3px;
  }

  .oh-operator-editor-upload {
    &__uploads {

      &__row{
        &:first-of-type{
          text-transform: uppercase;
          color: $oh-color-text-metadata;
        }

        .oh-operator-editor-upload__uploads__actions-col{
          text-transform: initial;
          font-weight: 600;
        }
      }

      &__nested-space {
        width: 27px;
        display: inline-block;
    }
  
      &__folder,
      &__file {
        .fa,
        .pficon {
          width: 17px;
          margin-right: 8px;
          color: $oh-color-primary;
          cursor: pointer;
        }
      }
    }
  }
}
  