.oh-page {
  position: relative;
  overflow-x: hidden;

  .oh-page-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - #{$oh-header-footer-height});

    &__inner {
      padding: 0 15px;
      width: 100%;

      @media (min-width: $oh-width-3-tile-min) {
        width: $oh-content-width-3-tiles;
      }
      @media (min-width: $oh-width-4-tile-min) {
        padding-left: 15px;
        padding-right: 15px;
        width: $oh-content-width-4-tiles;
      }
      @media (min-width: $oh-width-5-tile-min) {
        width: $oh-content-width-5-tiles;
      }

      > .blank-slate-pf {
        margin: 40px 60px;
        @media (min-width: $screen-sm-min) {
          margin: 40px 120px;
        }
        @media (min-width: $screen-md-min) {
          margin: 40px 160px;
        }
        @media (min-width: $screen-lg-min) {
          margin: 40px 240px;
        }
      }
    }

    .loading-state-pf {
      color: $color-pf-black-500;
    }
  }
}

.oh-header__top-bar {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  &.scrolled {
    background: linear-gradient(to right, #134F77, #2C95B5);
  }

  &__inner {
    padding: 15px 15px 0;
    width: 100%;
    display: flex;
    flex-direction: row;

    @media (min-width: $oh-width-3-tile-min) {
      width: $oh-content-width-3-tiles;
    }
    @media (min-width: $oh-width-4-tile-min) {
      width: $oh-content-width-4-tiles;
    }
    @media (min-width: $oh-width-5-tile-min) {
      width: $oh-content-width-5-tiles;
    }

    .dropdown-menu {
      position: fixed;
      right: 45px;
      top: 42px;

      @media (min-width: $screen-sm-min) {
        top: 55px;
      }

      @media (min-width: $oh-width-3-tile-min) {
        right: calc(((100% - #{$oh-content-width-3-tiles}) / 2) + 15px);
      }
      @media (min-width: $oh-width-4-tile-min) {
        right: calc(100% - #{$oh-content-width-4-tiles});
        right: calc(((100% - #{$oh-content-width-4-tiles}) / 2) + 15px);
      }
      @media (min-width: $oh-width-5-tile-min) {
        right: calc(100% - #{$oh-content-width-5-tiles});
        right: calc(((100% - #{$oh-content-width-5-tiles}) / 2) + 15px);
      }
    }
  }

  &__xs-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

    @media (min-width: $screen-sm-min) {
      display: none;
    }

    .oh-header__top-bar__search-form {
      padding-top: 10px;
      width: 100%;
    }
  }

  &__logo {
    font-family: $oh-code-font-family;
    height: 14px;
    margin-top: 7px;
  }

  &__spacer {
    flex: 1;
  }

  &__search-form {
    width: 300px;
  }

  &__search-icon {
    color: $color-pf-white;
    font-size: 12px;
    left: 5px;
    top: 7px;
    position: absolute;
  }

  &__clear-icon {
    color: $color-pf-white;
    right: 5px;
    top: 6px;
    position: absolute;
    &.disabled {
      display: none;
    }
  }

  &__search--input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    color: $color-pf-white;
    padding-left: 30px;
    padding-bottom: 3px;
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  &__dropdown {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $color-pf-white;
    font-size: inherit;
    font-weight: inherit;
    margin-left: 30px !important;
  }

  .dropdown-menu {
    font-size: inherit;
    font-weight: inherit;

    @media (min-width: $screen-sm-min) {
      margin-top: -14px;
    }
  }
}

.oh-header {
  background-image: url("../imgs/header-bg.png");
  background-image: url("../imgs/header-bg.png"), linear-gradient(to right, #134F77, #2C95B5);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y : top;
  color: $color-pf-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 15px;
    width: 100%;

    @media (min-width: $oh-width-3-tile-min) {
      width: $oh-content-width-3-tiles;
    }
    @media (min-width: $oh-width-4-tile-min) {
      padding-left: 15px;
      padding-right: 15px;
      width: $oh-content-width-4-tiles;
    }
    @media (min-width: $oh-width-5-tile-min) {
      width: $oh-content-width-5-tiles;
    }
  }
}

.oh-page-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid $oh-color-rule;
  background-color: $page-bg-color;
  width: 100%;

  &.fixed {
    position: fixed;
    top: 56px;
    z-index: 1010;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    width: 100%;

    @media (min-width: $oh-width-3-tile-min) {
      width: $oh-content-width-3-tiles;
    }
    @media (min-width: $oh-width-4-tile-min) {
      padding-left: 15px;
      padding-right: 15px;
      width: $oh-content-width-4-tiles;
    }
    @media (min-width: $oh-width-5-tile-min) {
      width: $oh-content-width-5-tiles;
    }
  }
  .breadcrumb {
    margin: 0;
    padding: 10px 0;
    flex: 1;
  }
}

.oh-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__top-bar {
    border-top: 1px solid $oh-color-rule;
    margin-top: 60px;
    padding: 18px 15px;
    background-color: $color-pf-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    > h3 {
      margin: 0;
      padding-right: 30px;
    }

    @media (min-width: $screen-sm-min) {
      z-index: 1000;
    }
  }

  &__contents {
    background-color: $oh-color-text-panel;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: $screen-sm-min) {
      z-index: 1000;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      padding: 60px 15px;
      width: 100%;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: space-between;
      }

      @media (min-width: $oh-width-3-tile-min) {
        width: $oh-content-width-3-tiles;
      }
      @media (min-width: $oh-width-4-tile-min) {
        padding-left: 30px;
        padding-right: 30px;
        width: $oh-content-width-4-tiles;
      }
      @media (min-width: $oh-width-5-tile-min) {
        width: $oh-content-width-5-tiles;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $screen-sm-min) {
        align-items: flex-start;
      };

      &__logo {
        height: 60px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
      }
      &__text {
        color: $color-pf-white;
        margin-bottom: 30px;
        max-width: 380px;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;

      @media (min-width: $screen-sm-min) {
        align-items: flex-start;
        margin-top: 0;
      }

      &__logo {
        height: 26px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
      }

      &__links {
        display: flex;
        flex-direction: row;

        &__list {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding-right: 80px;
          &:last-of-type {
            padding-right: 0;
          }

          &__header {
            color: $color-pf-white;
          }

          > a {
            white-space: nowrap;
            margin-bottom: 5px;
          }

          &__social {
            > a {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  &__button {
    border: 2px solid $color-pf-white;
    border-radius: 4px;
    color: $color-pf-white;
    padding: 5px 20px 8px;
    &:hover, &:focus {
      border-color: $color-pf-black-100;
      color: $color-pf-black-100;
      border: 2px solid $color-pf-white;

    }
  }
}
