$oh-color-primary: #1991eb;
$oh-color-teal: #1cb5ac;
$oh-color-accent: #4ed4a1;
$oh-color-background: #fafbfd;
$oh-color-rule: #eaeaea;
$oh-color-text-light: #999999;
$oh-color-text-body: #515151;
$oh-color-text-panel: #333f52;
$oh-color-text-primary: #1b1c1d;
$oh-color-text-metadata: #b6b6b6;

$oh-code-font-family: "Source Code Pro";

$page-bg-color: $oh-color-background;
$oh-header-height: 85px;
$oh-footer-height: 185px;
$oh-header-footer-height: calc(#{$oh-header-height} + #{$oh-footer-height});
$oh-list-item-height: 100px;
$oh-filters-width: 220px;
$oh-card-width: calc(#{$catalog-tile-pf-width} + 15px);

$oh-width-3-tile-min: calc((3 * #{$oh-card-width}) + #{$oh-filters-width} + 35px);
$oh-width-4-tile-min: calc((4 * #{$oh-card-width}) + #{$oh-filters-width} + 35px);
$oh-width-5-tile-min: calc((5 * #{$oh-card-width}) + #{$oh-filters-width} + 35px);
$oh-content-width-3-tiles: calc((3 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);
$oh-content-width-4-tiles: calc((4 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);
$oh-content-width-5-tiles: calc((5 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);

