.oh-yaml-viewer {
  position: relative;

  &__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 3px;

    &__button {
      position: relative;
      margin-left: 5px;
      padding-left: 5px;

      &.oh-disabled {
        pointer-events: none;
      }

      &:before {
        content: '|';
        position: relative;
        left: -5px;
        color: $oh-color-text-body
      }

      &:first-of-type {
        margin-left: 0;
        padding-left: 0;
        &:before {
          content: '';
          left: 0;
        }
      }

      .fa, .pficon {
        font-size: 12px;
        padding-right: 4px;
      }
    }
  }

  &__content {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
  }

  &__empty-state {
    position: absolute;
    height: 150px;
    top: calc(50% - 100px);
    left: 60px;
    right: 60px;
    z-index: 10;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;

    &.drag-drop {
      background-color: $oh-color-background;
      outline: 2px dashed #dededf;
      outline-offset: -10px;
      padding: 40px 30px;

      &.drag-over {
        outline-offset: -20px;
        outline-color: #c8dadf;
        background-color: #fff;
      }
    }

    &__upload-file-box {
      position: relative;
      text-align: center;
      width: 100%;

      .oh-yaml-viewer__empty-state__upload-file-box__link {
        cursor: pointer;
        padding: 0 4px;
      }

      &__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }
  }

  &__acebox {
    flex: 1;
    border: 1px solid $oh-color-rule;

    &.ace-clouds {
      background: $oh-color-background;
    }
  }

  &__button-bar {
    display: flex;
    flex-direction: row;
    padding: 20px 0 10px;

    .oh-button {
      margin-left: 15px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &__resizer {
    border: 1px solid $oh-color-rule;
    border-top: 0;
    cursor: row-resize;
    height: 11px;
    position: relative;

    &::after,
    &::before {
      content: "";
      border-top: 1px solid $oh-color-text-metadata;
      position: absolute;
      left: calc(50% - 10px);
      bottom: 3px;
      display: inline-block;
      width: 20px;
      margin: 0 2px;
    }

    &::before {
      top: 3px;
    }
  }
}
