.content-scrollable {
  height: 100vh;
  overflow: auto;
}

.oh-small {
  color: $oh-color-text-light;
  font-size: 12px;
}

.oh-tiny {
  color: $oh-color-text-metadata;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.oh-hero {
  color: $color-pf-white;;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.oh-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .oh-page__content {
    width: 100%;
    @media (min-width: $oh-width-3-tile-min) {
      width: $oh-content-width-3-tiles;
    }
    @media (min-width: $oh-width-4-tile-min) {
      width: $oh-content-width-4-tiles;
    }
    @media (min-width: $oh-width-5-tile-min) {
      width: $oh-content-width-5-tiles;
    }
  }

  .oh-content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$oh-header-footer-height});

    > .blank-slate-pf {
      margin: 40px 60px;
      @media (min-width: $screen-sm-min) {
        margin: 40px 120px;
      }
      @media (min-width: $screen-md-min) {
        margin: 40px 160px;
      }
      @media (min-width: $screen-lg-min) {
        margin: 40px 240px;
      }
    }
    .loading-state-pf {
      color: $color-pf-black-500;
    }
  }
}

.oh-external-link {
  display: inline-block;
  padding-right: 15px;

  &::after {
    content: "\f08e";
    display:inline-block;
    font-family: 'FontAwesome';
    font-size: 75%;
    height: 16px;
    position:relative;
    margin-left: 3px;
    margin-right: -15px;
    top:0;
    width: 12px;
  }
}
