.content-scrollable {
  height: 100vh;
  overflow: auto;
}

.oh-page {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .oh-page__content {
    position: relative;
    width: 100%;
    @media (min-width: calc((3 * #{$oh-card-width}) + #{$oh-filters-width} + 35px)) {
      width: calc((3 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);
    }
    @media (min-width: calc((4 * #{$oh-card-width}) + #{$oh-filters-width} + 35px)) {
      width: calc((4 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);
    }
    @media (min-width: calc((5 * #{$oh-card-width}) + #{$oh-filters-width} + 35px)) {
      width: calc((5 * #{$oh-card-width}) + #{$oh-filters-width} + 20px);
    }
  }

  .oh-content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$oh-header-footer-height});

    > .blank-slate-pf {
      margin: 40px 60px;
      @media (min-width: $screen-sm-min) {
        margin: 40px 120px;
      }
      @media (min-width: $screen-md-min) {
        margin: 40px 160px;
      }
      @media (min-width: $screen-lg-min) {
        margin: 40px 240px;
      }
    }
    .loading-state-pf {
      color: $color-pf-black-500;
    }
  }
}

.oh-external-link {
  display: inline-block;
  padding-right: 15px;

  &::after {
    content: "\f08e";
    display:inline-block;
    font-family: 'FontAwesome';
    font-size: 75%;
    height: 16px;
    position:relative;
    margin-left: 3px;
    margin-right: -15px;
    top:0;
    width: 12px;
  }
}
