::placeholder {
  color: $color-pf-black-400 !important;
  opacity: 1 !important;
}

.oh-page-fixed-header .oh-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.oh-header {
  background-image: linear-gradient(to right, #004368,  #0088ce);
  color: $color-pf-white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 15px;

  .oh-hub-header__top-bar {
    padding-top: 15px;
    &__title {
      font-family: $oh-code-font-family;
      letter-spacing: 4px;
    }

    &__search-form {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      float: right;

      @media (min-width: $screen-xs-min) {
        justify-content: flex-end;
      }
      @media (min-width: $screen-sm-min) {
        margin-top: 0;
        margin-right: -20px;
        display: block;
        width: 100%;
      }
    }
    &__search-icon {
      color: $color-pf-white;
      left: 5px;
      top: 6px;
      position: absolute;
    }
    &__clear-icon {
      color: $color-pf-white;
      right: 5px;
      top: 6px;
      position: absolute;
      &.disabled {
        display: none;
      }
    }
    &__search--input {
      background-color: #00659c;
      border: none;
      border-radius: 4px;
      color: $color-pf-white;
      padding-left: 30px;
      width: 300px;
      @media (min-width: $screen-sm-min) {
        width: 100%;
      }
    }
    .dropdown {
      float: right;
    }
    &__dropdown {
      background: transparent;
      border: none;
      box-shadow: none;
      color: $color-pf-white;
      font-size: inherit;
      font-weight: inherit;
      margin-left: 20px !important;
    }
    .dropdown-menu {
      font-size: inherit;
      font-weight: inherit;
      margin-top: -13px;
    }
  }
  .oh-header__content {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
}

.oh-page-fixed-header .oh-header {
  flex-direction: column-reverse;
}

.oh-hub-header {
  .oh-header__content {
    h1 {
      font-size: 32px;
      text-align: center;
      .title {
        font-family: $oh-code-font-family;
        letter-spacing: 5px;
        padding-left: 8px;
      }

    }
    .oh-hub-header__content__sub-title {
      display: flex;
      justify-content: center;
      p {
        text-align: center;
        word-break: break-word;
        max-width: 575px;
      }
    }
    .oh-hub-header__content__description {
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
}

.oh-operator-header {
  .oh-header__content {
    flex-direction: row;
    overflow: hidden;

    .oh-operator-header__content__image {
      height: 80px;
      max-width: 160px;
      min-width: 80px;
    }
    .oh-operator-header__content__info {
      flex: 1;
      margin-left: 20px;
      overflow: hidden;
    }
    h1 {
      margin-top: 10px;
      font-size: 32px;
      .title {
        font-family: $oh-code-font-family;
        letter-spacing: 5px;
        padding-left: 8px;
      }
    }
  }
}
