body {
  background-color: $pf-color-black-100;
  color: #363636;
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: 14px;
  line-height: 1.66667;
  margin: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

